@page "/products"
@rendermode InteractiveServer
@layout BlazorApp1.Components.Layout.MainLayout
@using BlazorApp1.Components.Shared
@using BlazorApp1.DTOs
@using BlazorApp1.Services
@using BlazorApp1.Services.Components
@using ECommerceApp.DTOs.CategoryDTOs
@using ECommerceApp.DTOs.ProductDTOs
@inject IJSRuntime JS
@inject ProductService ProductService
@inject CategoryService CategoryService
@inject MyToastService MyToastService

<PageTitle>Products</PageTitle>


<div class="row">
    <div class="col-md-6">
        <h1>Products</h1>
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-primary float-end" @onclick="()=>OpenModal()" >Add Product</button>
    </div>
</div>

@if (error != null)
{
        <div class="alert alert-danger">
            @String.Join(", ", error ?? new List<string> { "Unknown error occurred." })
        </div>
}

@if (isLoading)
{
    <Loader />
}
else
{
    <div class="card shadow-sm p-4 mb-4">

        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Discount%</th>
                    <th>Category</th>
                    <th>Stock</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (productDetails.Data != null && productDetails != null && productDetails.Data.Any())
                {
                    @foreach (var product in productDetails.Data)
                    {
                        
                            <tr>
                                <img src="@($"https://localhost:7087{product.ImageUrl}")" alt="@product.Name" height="100" width="130" />
                                @if (product.IsAvailable)
                                {
                                    <td>@product.Name</td>
                                }
                                else
                                {
                                    <td><s>@product.Name</s></td>
                                }
                                <td>@product.Description</td>
                                <td>@product.Price PKR</td>
                                <td>@product.DiscountPercentage</td>
                                <td>@product.CategoryId</td>
                                <td>@product.StockQuantity</td>
                                <td>
                                    <button class="btn btn-sm btn-outline-primary me-2">Edit</button>
                                @if(product.IsAvailable)
                                {
                                    <button class="btn btn-sm btn-outline-danger" @onclick="() => DeleteProduct(product.Id)">Delete</button>
                                }else{
                                <button class="btn btn-sm btn-outline-warning" @onclick="() => UpdateStatus(product.Id)">Undo</button>
                                }
                                </td>
                            </tr>
                        
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7" class="text-center">No Category Found</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>


    @if (isLoading)
    {
        <Loader />
    }
    else
    {
        <BlazorModal Title="Add Category" IsVisible="@isModalOpen" OnClose="CloseModal">
            <Body>
                <EditForm Model="@productModel" OnValidSubmit="SaveProduct">
                    <DataAnnotationsValidator />

                    <div class="mb-3">
                        <label class="form-label">Product Name</label>
                        <InputText class="form-control" @bind-Value="productModel.Name" />
                        <ValidationMessage For="@(() => productModel.Name)" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Product Description</label>
                        <InputText class="form-control" @bind-Value="productModel.Description" />
                        <ValidationMessage For="@(() => productModel.Description)" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Product Price</label>
                        <InputNumber class="form-control"  @bind-Value="productModel.Price"/>
                        <ValidationMessage For="@(() => productModel.Price)" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Stock</label>
                        <InputNumber class="form-control" @bind-Value="productModel.StockQuantity" />
                        <ValidationMessage For="@(() => productModel.StockQuantity)" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Discount%</label>
                        <InputNumber class="form-control" @bind-Value="productModel.DiscountPercentage" />
                        <ValidationMessage For="@(() => productModel.DiscountPercentage)" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Category</label>
                        <InputSelect class="form-control" @bind-Value="productModel.CategoryId">
                            <option selected value="">-- Select Category --</option>
                            @if (categoriesList != null && categoriesList.Data != null && categoriesList.Data.Any())
                            {
                                @foreach (var cat in categoriesList.Data)
                                {
                                    <option value="@cat.Id">@cat.Name</option>
                                }
                            }

                        </InputSelect>
                        <ValidationMessage For="@(() => productModel.CategoryId)" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Product Image</label>
                        <InputFile class="form-control" OnChange="OnFileChange" />
                        <ValidationMessage For="@(() => productModel.ImageUrl)" />
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" @onclick="() => CloseModal()">Close</button>
                        <button class="btn btn-primary">Save</button>

                    </div>
                </EditForm>
            </Body>
        </BlazorModal>
    }
}


@code {
    private ApiResponse<List<ProductResponseDTO>> productDetails = new();
    private List<string>? error;
    private bool loaded = false;
    private bool isLoading = false;
    private bool isModalOpen = false;
    private ProductCreateDTO productModel = new();
    private ProductStatusUpdateDTO updateStatus = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender && !loaded)
        {
            isLoading = true;
            await getProducts();
            isLoading = false;
            StateHasChanged();

        }
    }

    // Opens Modal
    private async Task OpenModal()
    {
        await getCategories();
        productModel = new ProductCreateDTO();
        isModalOpen = true;
    }

    // Modal Closes
    private void CloseModal()
    {
        isModalOpen = false;
    }
    private IBrowserFile uploadedFile;
    private void OnFileChange(InputFileChangeEventArgs e)
    {
        uploadedFile = e.File;
    }

    // Saves Product
    private async Task SaveProduct()
    {
        isLoading = true;

        var response = await ProductService.AddProductAsync(productModel, uploadedFile);
        if (response.Success)
        {
            MyToastService.Success("Product Added Successfully.");
            await getProducts();
            isModalOpen = false;
            isLoading = false;
            StateHasChanged();
        }
        else
        {
            error = response.Errors;
            MyToastService.Error(string.Join(", ", response.Errors));
        }
        isLoading = false;
    }

    private async Task DeleteProduct(int Id)
    {
        try
        {
            var response = await ProductService.DeleteProductAsync(Id);
            if (response != null && response.Success)
            {
                await getProducts();
                MyToastService.Error("Product Deleted.");
                StateHasChanged();
            }
            else
            {
                error = new List<string>() { "Failed to product category" };
            }
        }
        catch (Exception ex)
        {
            error = new List<string>() { $"Error deleting product: {ex.InnerException}" };
        }

    }

    private async Task UpdateStatus(int Id)
    {
        updateStatus.ProductId = Id;
        updateStatus.IsAvailable = true;
        try
        {
            var response = await ProductService.UpdateProductStatusAsync(updateStatus);
            if (response != null && response.Success)
            {
                await getProducts();
                StateHasChanged();
            }

            else
            {
                error = new List<string>() { "Failed to update product status" };
            }
        }
        catch (Exception ex)
        {
            error = new List<string>() { $"Error updating product status: {ex.InnerException}" };
        }

    }
    // 
    

    //Get Categories Method
    private ApiResponse<List<CategoryResponseDTO>> categoriesList = new();
    private async Task getCategories()
    {
        var categoryRes = await CategoryService.GetCategoriesAsync();

        if (categoryRes == null)
        {
            error = new List<string> { "No response from server." };
        }
        else if (!categoryRes.Success)
        {
            error = categoryRes.Errors;
        }
        else
        {
            categoriesList = categoryRes;
        }
    }



    // Get Products Method
    private async Task getProducts()
    {
        var productRes = await ProductService.GetAllProducts();

        if (productRes == null)
        {
            error = new List<string> { "No response from server." };
        }
        else if (!productRes.Success)
        {
            error = productRes.Errors;
        }
        else
        {
            productDetails = productRes;
        }
    }
}
