@page "/"
@using BlazorApp1.Components.Modals
@using BlazorApp1.Components.Shared
@using BlazorApp1.DTOs
@using BlazorApp1.Services
@using BlazorApp1.Services.Components
@using ECommerceApp.DTOs.AddressesDTOs
@using ECommerceApp.DTOs.CategoryDTOs
@using ECommerceApp.DTOs.OrderDTOs
@using ECommerceApp.DTOs.ProductDTOs
@using ECommerceApp.DTOs.ShoppingCartDTOs
@layout BlazorApp1.Components.Layout.WebLayout
@rendermode InteractiveServer
@inject Blazored.Modal.Services.IModalService Modal
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage;
@inject MyToastService MyToastService
@inject ProductService ProductService
@inject CategoryService CategoryService
@inject CartService CartService
@inject AddressService AddressService
@inject OrderService OrderService



<div class="d-flex justify-content-between align-items-center mb-4 px-1">
    <h3 class="fw-bold text-dark">
        Newly Added Stock
        <span class="text-primary">• Discounts Available</span>
    </h3>

    <button class="btn btn-primary shadow-sm rounded-pill px-3"
            @onclick="() => OpenCartModal()">
        <i class="bi bi-cart me-2"></i>
        My Cart
    </button>
</div>


@if (alert != null)
{
    <div class="alert alert-success">
        @alert
    </div>
}
@if (error.Any())
{
    <div class="alert alert-danger">
        @error
    </div>
}
@if (isLoading)
{
    <Loader/>
}
else
{
    @if (productDetails.Data != null && productDetails != null && productDetails.Data.Any())
    {
        <div class="container-fluid">
            <div class="row">

                <!-- LEFT SIDEBAR - CATEGORIES -->
                <div class="col-md-3">
                    <div class="card shadow-sm border-0 rounded-3 sticky-top" style="top: 90px;">
                        <div class="card-header bg-gradient text-black fw-bold rounded-top-3"
                             style="background: linear-gradient(45deg, #4e73df, #224abe);">
                            Categories
                        </div>

                        <ul class="list-group list-group-flush">
                            @foreach (var category in categories.Data)
                            {
                                <li class="list-group-item category-item"
                                    @onclick="() => getProductsByCategory(category.Id)">
                                    <span>@category.Name</span>
                                    <i class="bi bi-chevron-right text-muted small"></i>
                                </li>
                            }
                        </ul>
                    </div>
                </div>


                <!-- RIGHT SIDE - PRODUCTS -->
                <div class="col-md-9">
                    <div class="row g-4">
                        @foreach (var product in productDetails.Data)
                        {
                            <div class="col-md-6 col-lg-4">
                                <div class="card product-card shadow-sm border-0 rounded-4">

                                    <img src="@($"https://localhost:7087{product.ImageUrl}")"
                                         class="product-image rounded-top-4" alt="@product.Name" height="320" width="340" />

                                    <div class="card-body">
                                        <h5 class="fw-bold text-dark">@product.Name</h5>
                                        <p class="text-muted small">@product.Description</p>

                                        <div class="mt-2">
                                            <span class="fw-bold text-dark">@product.Price PKR</span>
                                            <span class="text-danger fw-bold ms-2">
                                                @product.DiscountPercentage% OFF
                                            </span>
                                        </div>

                                        <p class="text-success small mb-0">
                                            @product.StockQuantity in stock
                                        </p>

                                        <!-- Qty -->
                                        <div class="d-flex align-items-center mt-3">
                                            <button class="btn btn-outline-secondary btn-sm rounded-circle"
                                                    @onclick="() => DecreaseQuantity(product)">
                                                <i class="bi bi-dash"></i>
                                            </button>

                                            <input class="form-control text-center mx-2"
                                                   style="width: 55px;"
                                                   value="@GetQuantity(product)"
                                                   readonly />

                                            <button class="btn btn-outline-secondary btn-sm rounded-circle"
                                                    @onclick="() => IncreaseQuantity(product)">
                                                <i class="bi bi-plus"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="p-3">
                                        <button class="btn btn-primary w-100 rounded-pill shadow-sm"
                                                @onclick="() => AddToCart(product)">
                                            <i class="bi bi-cart-plus me-1"></i>
                                            Add to Cart
                                        </button>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>


            </div>
        </div>



        @* <div class="container">
            <div class="row">
                @foreach (var product in productDetails.Data)
                {
                    <div class="col-md-3 mb-4">
                        <div class="card h-100 shadow-sm">
                            <img src="@($"https://localhost:7087{product.ImageUrl}")" height="160" width="100" class="card-img-top" alt="@product.Name" />

                            <div class="card-body">
                                <h5 class="card-title">@product.Name</h5>
                                <p class="card-text text-muted">@product.Description</p>

                                <h6 class="fw-bold">@product.Price Pkr</h6>
                                <h6 class="text-danger fw-bold">@product.DiscountPercentage % Discount</h6>
                                <h6 class="text-primary fw-bold">@product.StockQuantity in Stock</h6>

                                <!-- Quantity selector -->
                                <div class="d-flex align-items-center mt-2">
                                    <button class="btn btn-sm btn-outline-secondary me-2"
                                            @onclick="() => DecreaseQuantity(product)">
                                        -
                                    </button>
                                    <input type="text" class="form-control text-center" style="width:50px;"
                                           value="@GetQuantity(product)" readonly />
                                    <button class="btn btn-sm btn-outline-secondary ms-2"
                                            @onclick="() => IncreaseQuantity(product)">
                                        +
                                    </button>
                                </div>
                            </div>

                            <div class="card-footer bg-white border-0">
                                <button class="btn btn-sm btn-primary w-100" @onclick="() => AddToCart(product)">
                                    <i class="bi bi-cart-plus me-1"></i> Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div> *@

    }
    else
    { 
       <h5 class="text-center">No Products Found</h5>
    }
}

<BlazorModal Title="Your Cart" IsVisible="@isCartOpen" OnClose="CloseCartModal">
    <Body>

        @if (isCartLoading)
        {
            <Loader />
        }
        else
        {
            @if (cartResponse.Data.CartItems.Any())
            {
                <div class="table-responsive">
                    <table class="table table-hover align-middle">
                        <thead class="table-light">
                            <tr>
                                <th>Product</th>
                                <th>Unit Price</th>
                                <th>Qty</th>
                                <th>Discount</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in cartItems)
                            {
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td>@((int)item.UnitPrice) PKR</td>
                                    <td>@item.Quantity</td>
                                    <td>@((int)item.Discount * item.Quantity) PKR</td>
                                    <td class="fw-bold">@((int)item.TotalPrice) PKR</td>
                                    <td>
                                        <button class="btn btn-sm btn-outline-danger"
                                                @onclick="() => RemoveFromCart(item)">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <!-- Billing & Shipping Address Selection -->
                @if (billingAddresses != null && billingAddresses.Data != null && billingAddresses.Data.Any() && cartResponse.Data.CartItems.Any())
{
    <div class="mt-4 border-bottom pb-5">
        <h6><b>Select Billing Address:</b></h6>
        @foreach (var address in billingAddresses.Data)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio"
                name="billingAddress"
                value="@address.Id"
                @onchange="() => SelectedBillingAddressId = address.Id"
                checked="@(SelectedBillingAddressId == address.Id)" />
                <label class="form-check-label">
                    @address.PermanentAddress - @address.City, @address.State, @address.Country
                </label>
            </div>
        }

        <h6 class="mt-3"><b>Select Shipping Address:</b></h6>
        @foreach (var address in billingAddresses.Data)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio"
                name="shippingAddress"
                value="@address.Id"
                @onchange="() => SelectedShippingAddressId = address.Id"
                checked="@(SelectedShippingAddressId == address.Id)" />
                <label class="form-check-label">
                    @address.PermanentAddress - @address.City, @address.State, @address.Country
                </label>
            </div>
        }
    </div>
}
else
{
    <p class="text-center mt-5">No Added Addresses, Add Now.</p>
    <div class="text-center">
        <button class="btn btn-info text-center mt-2" @onclick="() => AddAddressNow()">Add Address</button>
    </div>
}

                <div class="d-flex justify-content-between align-items-center mt-3">
                    <h4 class="fw-bold">Total: @totalCartAmount(cartItems) PKR</h4>
                    <button class="btn btn-success px-4 rounded-pill"
                            @onclick="() => Checkout(cartItems)">
                        Checkout
                    </button>
                </div>
            }
            else
            {
                <p class="text-center text-muted mt-5">
                    Your cart is empty.
                </p>
            }
        }

    </Body>
</BlazorModal>


<style>
    .category-item {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: 12px 16px !important;
        border-left: 3px solid transparent;
    }

        .category-item:hover {
            background-color: #f8f9fc;
            border-left: 3px solid #4e73df;
            font-weight: 600;
        }

    .product-card {
        transition: 0.25s ease;
    }

        .product-card:hover {
            transform: translateY(-4px);
            box-shadow: 0 10px 25px rgba(0,0,0,0.08) !important;
        }

    .product-image {
        height: 220px;
        object-fit: cover;
        width: 100%;
    }
</style>



@code {
    private string street = "";
    private string city = "";
    private bool loaded = false;
    private bool isLoading = true;
    private bool isCartLoading = true;
    private bool isCartOpen = false;
    private string zip = "";
    private int userId = 0;
    private List<string> error = new();
    private string alert;
    @inject NavigationManager Nav
    private ApiResponse<List<ProductResponseDTO>> productDetails = new();
    private ApiResponse<List<CategoryResponseDTO>> categories = new();
    private AddToCartDTO addToCart = new();
    private ApiResponse<CartResponseDTO> cartResponse = new();
    private List<CartItemResponseDTO> cartItems = new();
    private RemoveCartItemDTO removeItems = new();
    private OrderCreateDTO orderCreate = new();


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        userId = await LocalStorage.GetItemAsync<int>("userId");

        if (firstRender && !loaded)
        {
            // await getProducts();
            await getCategories();
            if (categories?.Data != null && categories.Data.Any())
            {
                await getProducts();
            }
            isLoading = false;
            StateHasChanged();
        }
    }

    private void AddAddressNow()
    {
        Nav.NavigateTo("/profile");
    }


    private async Task AddToCart(ProductResponseDTO product)
    {
        isLoading = true;

        addToCart.Quantity = GetQuantity(product);
        addToCart.ProductId = product.Id;
        addToCart.CustomerId = userId;

        if(userId != 0)
        {
            var response = await CartService.AddToCartAsync(addToCart);
            if (response.Success)
            {
                MyToastService.Success("Added to Cart.");
                await getProducts();
                isLoading = false;
                StateHasChanged();
                alert = "Your Product Added to Cart, Open Cart to View";
            }
            else
            {
                error = response.Errors;
                MyToastService.Error(string.Join(", ", response.Errors));
                isLoading = false;
            }
        }
        else
        {
            error = new List<string>() { "Customer is Invalid" };
            isLoading = false;

        }
    }

    // Cart Modal
    private async Task OpenCartModal()
    {
        isCartOpen = true;
        await getMyCart();
        await getAddress();
        StateHasChanged();
    }
    private void CloseCartModal() => isCartOpen = false;

    private async Task RemoveFromCart(CartItemResponseDTO item)
    {
        var itemId = 
        removeItems.CartItemId = item.Id;
        removeItems.CustomerId = userId;
        var productRes = await CartService.RemoveCartItemAsync(removeItems);
        if(productRes!=null && productRes.Success)
        {
            cartItems.Remove(item);
            alert = "Item Removed";
            totalCartAmount(cartItems);
            StateHasChanged();
        }
        else
        {
            error = new List<string> { string.Join(", ", new List<string> { "" }) };
        }
        StateHasChanged();
    }

    private Dictionary<int, int> quantities = new();

    private int GetQuantity(ProductResponseDTO product)
    {
        return quantities.ContainsKey(product.Id) ? quantities[product.Id] : 1;
    }

    private void IncreaseQuantity(ProductResponseDTO product)
    {
        if (!quantities.ContainsKey(product.Id))
            quantities[product.Id] = 1;

        if (quantities[product.Id] < product.StockQuantity)
            quantities[product.Id]++;
    }

    private void DecreaseQuantity(ProductResponseDTO product)
    {
        if (!quantities.ContainsKey(product.Id))
            quantities[product.Id] = 1;

        if (quantities[product.Id] > 1)
            quantities[product.Id]--;
    }

    //
    private async Task getMyCart()
    {
        isCartLoading = true;

        var productRes = await CartService.GetCartItemAsync(userId);

        if (productRes == null)
        {
            isCartLoading = false;
            error = new List<string> { "No response from server." };
        }
        else if (!productRes.Success)
        {
            isCartLoading = false;
            error = productRes.Errors;
        }
        else
        {
            isCartLoading = false;
            cartResponse = productRes;
            cartItems = productRes.Data.CartItems.ToList();
        }
    }
    private decimal totalCartAmount(List<CartItemResponseDTO> items)
    {
        var total = items.Sum(x => x.TotalPrice);
        return total;
    }


    // 
    private int SelectedBillingAddressId { get; set; }
    private int SelectedShippingAddressId { get; set; }

    // 
    private ApiResponse<List<AddressResponseDTO>> billingAddresses = new();



    // Checkout
    private async Task Checkout(List<CartItemResponseDTO> cartItems)
    {
        if (SelectedBillingAddressId == 0 || SelectedShippingAddressId == 0)
        {
            alert = "Please select both addresses";
            return;
        }
        if (cartItems.Count < 1)
        {
            alert = "Nothing in Your Cart.";
            return;
        }

        orderCreate.CustomerId = await LocalStorage.GetItemAsync<int>("userId");
        orderCreate.BillingAddressId = SelectedBillingAddressId;
        orderCreate.ShippingAddressId = SelectedShippingAddressId;
        orderCreate.OrderItems = cartItems.Select(a => new OrderItemCreateDTO
        {
            ProductId = a.ProductId,
            Quantity = a.Quantity

        }).ToList();

        var response = await OrderService.CreateOrderAsync(orderCreate);

        if (response?.Success == true)
        {
            MyToastService.Success("Order Created Successfully.");
            isCartOpen = false;
            Nav.NavigateTo($"/my-order");
            StateHasChanged();
        }
        else
        {
            alert = "Error Creating Order.";
            MyToastService.Error("Error Creating Order.");

        }

    }





    // Get Products Method
    private async Task getProducts()
    {
        var productRes = await ProductService.GetAllProducts();

        if (productRes == null)
        {
            error = new List<string> { "No response from server." };
        }
        else if (!productRes.Success)
        {
            error = productRes.Errors;
        }
        else
        {
            productDetails = productRes;
        }
    }
    // Get Products Method
    private async Task<bool> getProductsByCategory(int categoryId)
    {
        var productRes = await ProductService.GetAllProductsByCategory(categoryId);

        if (productRes == null)
        {
            error = new List<string> { "No response from server." };
            return false;
        }

        if (!productRes.Success)
        {
            error = productRes.Errors;
            return false;
        }

        productDetails = productRes;
        StateHasChanged();
        return true;
    }

    //Get Categories
    private async Task getCategories()
    {
        var addressRes = await CategoryService.GetCategoriesAsync();

        if (addressRes == null)
        {
            error = new List<string> { "No response from server." };
        }
        else if (!addressRes.Success)
        {
            error = addressRes.Errors;
        }
        else
        {
            categories = addressRes;
        }
    }

    //Get Address
    private async Task getAddress()
    {
        var addressRes = await AddressService.GetAddressAsync();

        if (addressRes == null)
        {
            error = new List<string> { "No response from server." };
        }
        else if (!addressRes.Success)
        {
            error = addressRes.Errors;
        }
        else
        {
            billingAddresses = addressRes;
        }
    }
}


